{% extends "base.html" %}

{% block style %}
    
  h1{
  margin-top: 10px;
  text-align:center;
  color:#000099;
}
h2{
  margin-top:10px;
  text-align:center;
  font-size: 20px;
  color:blue;
}
h3{
  text-align:center;
  font-size: 15px;
  color:blue;
  
}
div.question {
    width: 300px;
    height: 300px;
    border: 1px solid #3399ff;
  border-radius: 5px;
  background-color:white;
  margin-left: 50px;
}


div.score{
  width: 300px;
  height: 150px;
  border: 1px solid #3399ff;
  border-radius: 5px;
  background-color:white;
  margin-left: 50px;
  margin-top: 20px;
  float: left;
}

li.capital {
    list-style-type: upper-alpha;
  margin-left:20px;
}
button.capital {
    border: 1px solid #3399ff;
    border-radius: 5px;
    width: 150px;
    margin-top: 5px;
}

button.capital:hover{
    background-color:#ccffff;
}


    
    h1{
    margin-top: 10px;
    text-align:center;
    color:#000099;
  }
  h2{
    margin-top:10px;
    text-align:center;
    font-size: 20px;
    color:blue;
  }
  h3{
    text-align:center;
    font-size: 15px;
    color:blue;
    
  }
  div.question {
    width: 600px;
    height: 300px;
    border: 1px solid #3399ff;
    border-radius: 5px;
    background-color:white;
    margin-left: 50px;
    float:left;
  }


  li.capital {
    list-style-type: none;
    margin-left:30px;
  }

  ul#horizontal li{
  display:inline;
}
  button.capital {
    margin-left: 10px;
    border: 1px solid #3399ff;
    height:90px;
    border-radius: 5px;
    width: 200px;
    margin-top: 5px;
  }

  button.capital:hover{
    background-color:#ccffff;
  }
div.score{
    margin-top:50px;
    width: 230px;
    height: 120px;
    border: 1px solid #3399ff;
    border-radius: 5px;
    background-color:white;
    float: right;
    margin-right:20px;
  }

  div.message{
    width: 230px;
    height: 120px;
    border: 1px solid #3399ff;
    border-radius: 5px;
    background-color:white;
    float: right;
    margin-right:20px;
    margin-top:10px;
    font-size:20px;
  }
button.next{
    border: 1px solid #3399ff;
    margin-right:20px;
    height:40px;
    border-radius: 5px;
    width: 230px;
    margin-top: 10px;
    float:right;
}

button.next:hover{
    background-color:#ccffff;
  }

div.info{
  width:900px;
  height:150px;
  border: 1px solid #3399ff;
  margin-top: 20px;
  float:left;
  border-radius: 5px;
  background-color:white;
  margin-left: 50px;
}
div.fact{
  width:600px;
  height:150px;
  border: 1px solid #3399ff;
  border-radius: 5px;
  background-color:white;
  float: left;
}
div.flag{
  width:295px;
  height:150px;
  border: 1px solid #3399ff;
  border-radius: 5px;
  background-color:white;
  float: right;
}
 
{% endblock %}


{% block content %}


      <h1>Welcome to Geo Quiz!</h1>
      <h2 style="font-size: 20px;"> Let's test your geography knowledge! </h2>
      <div class = "question" style = "margin-top: 50px; margin-right: 50px;">
        
        <h1> What's the capital of {{country}}? </h1>
      
        {% if input_disabled == "false" %}
        
          {% for option in choices %}
          <form action="/check" method="post">
          <button type="submit" name="choice" value="{{option}},{{country}}">{{option}}</button>
          </form>
          {% endfor %}
      
        
        
        {% else %}
        
          {% for option in choices %}
          <form action="/check" method="post">
          <button type="submit" name="choice" disabled>{{option}}</button>
          </form>
          {% endfor %}
        

        {% endif %}
   

        
      <div class = "score">
        <h1 style="font-size: 35px;"> YOUR SCORE: </h1>
        <h2 style = "font-size: 30px; text-align: center;"> {{score}} </h2>
      </div>
      <div class = "message">
        <h1 style="margin-top: 30px; font-size: 20px;">Your answer is {{result}}.</h1>
      </div>

      

     
    

    <div class = "info">
        <div class = "fact">
          <h1 style="text-align: left; margin-left: 20px; font-size: 30px;">{{Country}}</h1>
          <l1 style="margin-left: 15px;">fact about country <br></l1>
          <l2 style="margin-left: 15px;">fact about country <br></l2>
          <l3 style="margin-left: 15px;">fact about country <br></l3>
          <l4 style="margin-left: 15px;">fact about country <br></l4>
        </div>
        <div class = "flag">
            <l1> flag image </l1>
    </div>
  </div>

  <a href = "/next"> Next question </a>

{% endblock %}